//App.jsx
//aaaaaaaaaaaaaaaaaaaa
body{
    // font-size: 1.75em;
    background-color: #eaeaea;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}

a{
    text-decoration: none;
}

#wrapper{
    width: 100%;
}

.App{
    width:100vw;
    height:100vh;
    margin: 0%;
}

.PageContainer{
    width:100vw;
}

.treemap-container{
    position: relative;
    width: 90%;
    height: 75vh;
}

.treeMap{
    width:  90%;
    height: 90%;
}

.node{
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}

.node-label{
    padding: 4px;
    line-height: 1em;
    // white-space: pre;
}

.node-value{
    color: rgba(0,0,0,0.8);
    font-size: 9px;
    margin-top: 1px;
}
