{ 
    "presets": ["es2015"],
    "plugins": [
        "transform-class-properties",
        "transform-decorators-legacy",
        "syntax-async-functions",
        "transform-async-to-generator"
    ]
}
